<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
<h2>{{ul.selected.name}}</h2>
<p>{{ul.selected.content}}</p>

<md-button class="contact" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share with {{ ul.selected.name }}">
  <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
  <md-icon md-svg-icon="share"></md-icon>
</md-button>


<div id="postsDiv" ng-repeat="post in posts">
  <!--
  {{post.Nombre}}
  {{post.Precio}}
  -->

  <md-card> <!-- md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch -->
	  <md-card-title>
	  	<md-card-title-media>
	      <!--<div class="md-media-md card-media"></div>-->
	      <img ng-src="./assets/img/savora.jpg" class="md-media-lg md-card-image" alt="Washed Out">
	    </md-card-title-media>
	    <md-card-title-text>
	      <span class="md-headline">Card with image</span>
	      <span class="md-subhead">Medium</span>
	    </md-card-title-text>
	  </md-card-title>
	  <md-card-actions layout="row" layout-align="end center">
	    <md-button>Action 1</md-button>
	    <md-button>Action 2</md-button>
	  </md-card-actions>
	</md-card>
</div>